name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: use yarn
        run: corepack enable

      - name: install deps
        run: yarn

      - name: lint
        run: yarn lint

      - name: astro check
        run: yarn typecheck

      - name: build
        run: npm run build

      - name: test
        run: yarn test
